body {
    background-image: linear-gradient(to bottom, white, DarkOliveGreen 40%, DarkOliveGreen 60%, white);
    background-size: cover;
    height: 100vh;
    /* background-repeat: no-repeat; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    text-shadow: 0px 0px min(1vw, 1vh) LightGreen, 0px 0px min(2vw, 2vh) white, 0px 0px min(8vw, 8vh) white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(15vw, 15vh);
    color: DarkOliveGreen;
}